* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

@media screen and (max-width: 767px) {
	body {
		font-size: 14px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	body {
		font-size: 16px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	body {
		font-size: 18px;
	}
}

@media screen and (min-width: 1200px) {
	body {
		font-size: 20px;
	}
}

.sign_up {
	width: 90vw;
	height: 70vh;
	left: 50%;
	right: 50%;
	margin: 0 auto;
	margin-top: 15vh;
}

h1 {
	text-align: center;
	margin-bottom: 3vh;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	font-size: 2em;
}

.info {
	display: flex;
	flex-wrap: wrap;
}

#first_name,
#last_name,
#password,
#confirm_password {
	width: 40%;
	height: 6vh;
	flex-grow: 1;
	margin-bottom: 3vh;
	margin-right: 1vw;
	margin-left: 1vw;
	border-radius: 4px;
	padding-left: 2vw;
	font-size: 1em;
}

#mobile_number,
#email_address {
	width: 100%;
	height: 6vh;
	flex-grow: 1;
	margin-bottom: 3vh;
	margin-right: 1vw;
	margin-left: 1vw;
	border-radius: 4px;
	padding-left: 10px;
	font-size: 1em;
}

input[type='text'] {
	outline: none;
	border: 1px solid gray;
}

input[type='text']:focus {
	outline: none;
	border: 1px solid rgb(0, 191, 255);
	box-shadow: 0px 0px 10px 3px rgb(0, 191, 255, 0.3);
}

.terms {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 3vh;
	margin-left: 1vw;
	margin-top: 3vh;
}

.i_agree {
	font-size: 0.5em;
}

.rule {
	width: 70%;
	display: flex;
	font-size: 0.8em;
	margin-right: 1vw;
}

.i_agree {
	font-size: 1em;
}

.click {
	display: flex;
}

.register_word {
	background-color: rgb(0, 132, 255);
	color: white;
	border-radius: 3px;
	padding: 2px;
	padding-left: 1vw;
	padding-right: 1vw;
}

.terms_conditions {
	text-decoration: none;
	color: rgb(0, 174, 255);
}

.register {
	width: 40%;
	height: 35px;
	flex-grow: 1;
	margin-bottom: 2vh;
	margin-right: 1vw;
	margin-left: 1vw;
	border-radius: 4px;
	border: 0px;
	padding-left: 1vw;
	font-size: 1.5em;
	background-color: rgb(0, 132, 255);
	color: white;
}

.sign_in {
	width: 40%;
	height: 35px;
	flex-grow: 1;
	margin-bottom: 2vh;
	margin-right: 1vw;
	margin-left: 1vw;
	border-radius: 4px;
	border: 0px;
	padding-left: 1vw;
	font-size: 1.5em;
	background-color: rgb(49, 172, 51);
	color: white;
}